body 
{
   margin: 12px;
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: #515D6B;
}

div.title
{
   font-size: 24px;
}

div.titlebar
{
   font-weight: bold;
   padding: 2px 0px 2px 8px;
   background-color: #DCE4EB;
   border-bottom: 1px solid #CCD4DB;
}

div.indent
{
   padding-left: 3px;
}

span.mainSubTitle
{
   font-weight: bold;
   padding: 3px;
}

span.title
{
   font-size: 32px;
   color: #666677;
}

span.indent
{
   padding-left: 3px;
}

a:link, a:visited
{
   text-decoration: none;
   color: #168ECE;
}

a:hover
{
   color: #168ECE;
   text-decoration: underline;
}

form
{
   padding: 0px;
   margin: 0px;
}

input[type="submit"],
input[type="button"]
{
   padding: 5px 8px;
   color: #fff;
   background-color: #0C79BF;
   border: 1px solid #0C79BF;
   margin: 4px 0px;
   border-radius: 3px;
}

input[type="submit"]:hover,
input[type="button"]:hover
{
   background-color: #106E9F;
   cursor: pointer;
}